* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, blue, purple);
    padding: 1.8vh 0;
    margin: 0.6vh;
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    text-indent: 18%;
    font-size: xx-large;
}

#history {
    text-transform: capitalize;
}

.main-card {
    align-items: center;
}

#city-name {
    font-weight: bold;
}

h3 {
    text-align: center;
}

.forecast {
    border: 0px;
}

ul {
    font-size: small;
}

#future-date {
    font-size: medium;
}